.Root {
    width: "100%";
    position: relative;
    overflow: auto;

    display: "flex";
}

.Topic {
    text-align: center;
}

.Pic {
    text-align: center;
    width: 280px;
    height: 100px;
}

.textField {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}
