.General {
    height: 300px;
    padding: 11px;
    color: #4169e1;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}

.Display {
    height: 50px;
    padding: 11px;
    color: #4169e1;

    justify-content: flex-start;
    box-sizing: border-box;
    align-items: center;
}

.DisplayRat {
    height: 40px;
    padding: 11px;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: center;
}
.Button {
    height: 40px;
    width: 50px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(
        -45deg,
        #4169e1,
        #7363d6,
        #925dc8,
        #a858ba,
        #b855ab,
        #c3549c
    );
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    padding-top: 7px;
}
