/* .singleFooMenu {
    position: absolute;
    z-index: 90 !important;
    width: 30%;
    background-color: rgb(30, 75, 105);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  
  .singleMenuActive .singleTopNavBar{
    z-index: 90;
  }
  
  .singleTopNavBar {
    width: 100%;
    position: relative;
    background-color: rgb(30, 75, 105);
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  .amNavbarTitle {
    color: #FFF!important;
  }
  .menuMask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 89;
  }

  .menuIcon {
    width:5px;
    height:5px;
  } */

  .button{
    /* position: relative; */
    position:absolute;
    margin-left: 10px;
    margin-top:20px;
    z-index: 1000;
}

.button__menu{
    position: absolute;
    z-index: 2;
    width: 40px;
    height: 40px;
    margin-left: 2px;
    margin-top: 600px;
    background-size: contain;
}

.button__animated{
    position:absolute;
    margin-left: 10px;
    margin-top:10px;
    z-index: 1000;
    animation: mymove .6s;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

.button__animated_reverse{
    position:absolute;
    margin-left: 10px;
    margin-top:10px;
    z-index: 1;
}

@keyframes mymove
{
from {top:0px;}
to {top:50px;}
}
@keyframes mymove_reverse
{
from {top:50px;}
to {top:0px;}
}


.sidebar__background {
  background-size: contain;
  width: 155px;
  height: 800px;
  position: relative;
  z-index: 50000;
  background-color: rgb(30, 75, 105);
}

.sidebar__mask {
  background-size: 300px 800px;
}

.sidebar__menu {
    margin-top: 0px;
    position: absolute;
    width: 155px;
    height: 800px;
    font-size: 20px;
    color: white;
}

.profile__text{
    position: absolute;
    padding-left: 10px;
    margin-left: 0px;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif
}
.profile__text:active{
    background-color: rgba(0, 0, 0,0.15);
}

.report__text{
    position: absolute;
    padding-left: 10px;
    margin-left: 0px;
    margin-top: 60px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif
}
.report__text:active{
    background-color: rgba(0, 0, 0,0.15);
}

.discovery__text{
    position: absolute;
    padding-left: 10px;
    margin-left: 0px;
    margin-top: 90px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif
}
.discovery__text:active{
    background-color: rgba(0, 0, 0,0.15);
}

.logout__text{
    position: absolute;
    padding-left: 10px;
    margin-left: 0px;
    margin-top: 120px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif
}
.logout__text:active{
    background-color: rgba(0, 0, 0,0.15);
}

.my-drawer {
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
.my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
    width: 100px;
    padding: 0;
}

.menuButton {
  font-size:20px;
  color:white;
  font-family: 'Times New Roman', Times, serif
}

.menuIcon {
  padding-left:80px;
  color:white;
  padding-top: 0px;
}